<h2>Burrito Society Admin</h2>

<h4><a href="/people/new">Add Person</a></h4>
<h4><a href="/products/new">Add Product</a></h4>
<h4><a href="/people">View People</a></h4>
<h4><a href="/products">View Products</a></h4>
