<div id="container">
	<div id="logo-container">
		
		<img src="assets/msblack.jpeg" alt="Mister Salsa Man">
	</div>

	<div id="sign-up">
		<input type="text" placeholder="email" autofocus="true">
	</div>
</div>