<div id="container">
	<div id="logo-container">
		
		<img src="assets/msblack.jpeg" alt="Mister Salsa Man">
	</div>

	<div id="sign-up">
		<h1>email</h1>
		<%= form_tag("/validate", :method => "post") do %>

		<%= text_field_tag :email  %>

		<input type="submit">
		<% end %>
	</div>
</div>