/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html {
	background:black;
	#logo-container {
		text-align: center;
		padding: 40px;
	}
	#sign-up {
		text-align: center;
		padding: 20px;
		input[type=text] {
			text-align: center;
			border-radius: 10px;
			width:300px;
			font-size: 20px;
			padding: 10px;
			font-family: "Helvetica Neue", Helvetica, sans-serif;
			border:1pt solid white;
			color:white;
			background:black;
			&:focus {
				outline: none;
			}
		}
	}
}