<!DOCTYPE html>
<html>
<head>
  <title>The Burrito Society</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
<%= yield %>
</div>

<script type="text/javascript">
$(document).ready(function () {
	$('.chzn-select').chosen();
});
</script>
</body>
</html>
